@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color:#243e63;
}

head {
    display: none;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color:#243e63;
    display: block;

}

section {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


/* 

NAVBAR ↓

*/


nav {
    padding-top:32px;
    display: flex;
    margin:0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
}


.nav__row {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}


.row {
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
}


.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
}

.nav__logo--img{
    height: 40px;
    width: 40px;
}

.img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
    overflow-clip-margin: content-box;
    overflow: clip;
}


.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
}


div {
    display: block;
    unicode-bidi: isolate;
}


.nav__links {

list-style: none;

padding: 0;

margin: 0;

display: flex;

align-items: center;

}

.nav__links li {

margin-left: 20px; 

}


.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 32px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
    text-decoration: none;
}

a{
    display: inline;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
}

a:-webkit-any-link {
    cursor: pointer;
}


.login {
  margin-left: 48px;
}


.nav__link--primary {
    margin: 0;
    padding:10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border:none;
    width:auto;
}


.btn__menu {
      background-color: transparent;
      border: none;
      display: none;
      transition: all 300ms;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal; 
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow:none;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px; 
}

.btn__menu {
    background-color: transparent;
    border:none;
    display: none;
    transition: all 300ms;
}

.menu {
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border:1px solid rgb(229, 231, 235);
    border-radius: 2px;
    z-index:4;
    visibility:hidden;
    opacity: 0;
    transform: translatex(300%);
    transition: all 300ms ease;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}

div{ 
    display: block;
    unicode-bidi: isolate;
}


.btn__menu--close {
    position: fixed;
    top:24px;
    right:18px;
}


.menu_links {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}



/* 

HEADER / ABOUT US ↓

*/



.header{
    position:relative;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


.container {
    padding: 96px 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    width:100%;
    max-width:1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;

}

div{ 
    unicode-bidi: isolate;
}


.header__description {
    width:40%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div{ 
    display: block;
    unicode-bidi: isolate;
}


h1 {
    font-size: 36px;
    color: #1a202c;
    line-height:1.25;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start:0px ;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
   
}

.purple {
    color: #641564ff;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


.header__description--para {
       font-size: 16px;
       margin: 32px 0;
}

p{
    line-height: 1.5;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
}


.header__email {
    width: 100%;
    max-width:448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


div{ 
    unicode-bidi: isolate;
}


.header__email--input{
    width:100%;
    border-radius:500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight:500;
    position:absolute;
    top:0;
    bottom: 0;
    z-index: 1;
    transition: all 300ms ease;
}


.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border:none;
    background-color: #6415ff;
    color:#fff;
    font-weight:700;
    transition:all 300ms ease;
}
button {
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal; 
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow:none;
    text-align:center;
    padding-block: 1px;
    padding-inline: 6px; 
}

div {
    unicode-bidi: isolate;
}

.header__customers--title {
    margin-top: 80px;
    color:#a0aec0;
    font-size: 12px;
    font-weight:700;
}

.header__customers {
    padding-right:64px;
    margin-top: 16px;
    opacity: 0.5;
}
img.header__customers {
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.header__img {
    max-width: 512px;
    width:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}

.header__img--wrapper{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 40%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}

figure {
    margin-block-start: 1em;
    margin-block-end: 0.67em;
    margin-inline-start:40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}




/* 

FEATURES ↓

*/



main {
    margin-bottom: 96px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


#features {
    position: relative;
}


section{
    padding: 0 32px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


.container {
    padding: 96px 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
      unicode-bidi: isolate;
}


.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

#features.section__title {
    font-size: 48px;
    font-weight:900;
    color:#243e63;
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


h2.section__title{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.purple {
    color:#6415ff;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


#features.section__para {
    text-align: center;
    max-width:576px
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color:#7c8ba1;
    line-height: 1.625;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}


.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


div {
    unicode-bidi: isolate;
}


.feature {
    width: calc(100% / 3);
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


div {
    display: block;
    unicode-bidi: isolate;
}


.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
    unicode-bidi: isolate;
}



.feature__img--wrapper{
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


figure {
    margin-block-start: 1 em;
    margin-block-end: 1 em;
    margin-inline-start:40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}


img.feature__img {
    width:24px;
    height:24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #f0eeee;
    overflow-clip-margin: content-box;
    overflow: clip;
}



.feature__text {
    margin-top: 8px;
    margin-left: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
    display: block;
    unicode-bidi: isolate;
}


h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


.feature__para{
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color:rgb(124, 139, 161);
    line-height: 2;
    font-weight:500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}



/* 

QUALITY WORK ↓

*/



section {
    padding: 0, 32px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


.container {
    padding: 96px 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


#quality.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width:100%;
    max-width:1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;

}

div{ 
    unicode-bidi: isolate;
}


.quality__description {
    width: 50%;
    max-width: 576px;
    margin-right: 64px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}


.section__tag {
    font-size: 16px;
    color: #641564ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


div {
    display: block;
    unicode-bidi: isolate;
}


#quality .section__title {
    line-height: 1.25;   
}

.section__title {
    font-size: 48px;
    font-weight:900;
    color:rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.purple {
    color:#641564ff;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


#quality .btn {
    margin-top: 32px;
}

.btn {
    background-color: #641564ff;
    padding: 12px 32px;
    border:none;
    border-radius:500px;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor:pointer;
}


.button{
      margin: 0;
      box-sizing: border-box;
      font-family: "Inter" , sans-serif;
      appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal; 
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow:none;
    display:inline-block;
    text-align:center;
    padding-block: 1px;
    padding-inline: 6px; 
}

.quality__img--wrapper{
    border-radius: 4px;
    border:1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index:2;
    display: flex;
    width: 50%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


figure {
    margin-block-start: 1 em;
    margin-block-end: 1 em;
    margin-inline-start:40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}


.quality__img {
    z-index:1;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    overflow-clip-margin: content-box;
    overflow: clip;
}







/* 

STEPS ↓

*/



section {
    padding: 0, 32px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


.container {
    padding: 96px 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
    display: block;
    unicode-bidi: isolate;
}


#steps , .row {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.row {
    width:100%;
    max-width:1280px;
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
    unicode-bidi: isolate;
}


.step__img--wrapper{
      width: 50%;
      display: flex;
      position: relative;
      margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}



figure {
    margin-block-start: 1 em;
    margin-block-end: 1 em;
    margin-inline-start:40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}


.step__img {
    z-index:1;
}

img {
    width: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    overflow-clip-margin: content-box;
    overflow: clip;
}


.steps__description {
    padding: 32px 0;
    padding-left: 64px;
    width:50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
    display: block;
    unicode-bidi: isolate;
}


.section__tag {
    font-size: 16px;
    color: #641564ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


div {
    display: block;
    unicode-bidi: isolate;
}


.section__title {
    font-size: 48px;
    font-weight:900;
    color:rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
    padding: 0;
    box-sizing: right;
    font-family: "Inter" , sans-serif;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.purple {
    color:#641564ff;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


.step{
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
   
    unicode-bidi: isolate;
}


.step__number {
    color: #cbd;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


div {
    display: block;
    unicode-bidi: isolate;
}


.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
    unicode-bidi: isolate;
}



.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif
}


div {
    display: block;
    unicode-bidi: isolate;
}


.step__para{
    font-size: 14px;
    color:#718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


p{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}




/* 

VALUES ↓

*/


section {
    padding: 0, 32px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
}


.container {
    padding: 96px 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}


#Values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width:100%;
    max-width:1280px;
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}


div {
    unicode-bidi: isolate;
}


.values __description {
      width: 50%;
      padding: 32px 64px 32px 0;
      margin:0 auto;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;

}

div {
    display: block;
    unicode-bidi: isolate;
}


.section__tag {
    font-size: 16px;
    color: #641564ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}


#values .section__title {
    margin-top:16px;  
    margin-bottom:32px; 
}

.section__title {
    font-size: 48px;
    font-weight:900;
    color:rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


div {
    display: block;
    unicode-bidi: isolate;
}


.values__list {
    margin-left:0px;
    margin-right:0px;
    display: flex;
    max-width:none;
    flex-direction: row;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}

div {
    unicode-bidi: isolate;
}


.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}


.value {
    align-items: flex-start;
    display: flex
    flex-direction column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}

div {
    unicode-bidi: isolate;
}


.value__title{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
}

div {
    unicode-bidi: isolate;
}



.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}


figure {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}


.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.div {
    display: block;
    unicode-bidi: isolate;
}


.value:nth-of-type(2) {
    margin-top: 32px;
}

.value {
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

.div {
    unicode-bidi: isolate;
}


.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63; 
}


figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start:40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}


#values .btn {
    margin-top: 48px;
}
.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.button{
    margin: 0;
      box-sizing: border-box;
      font-family: "Inter" , sans-serif;
      appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal; 
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow:none;
    display:inline-block;
    text-align: center;
    padding-block:1px;
    padding-inline: 6px; 
}


.values__img {
    width: 50%;
}

img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
    overflow-clip-margin: content-box;
    overflow: clip;
}



/*

PRICING ↓

*/

#pricing {
    padding-top: 10px; 
    box-sizing: border-box;
}


#pricing .plan__middle{
    padding: 20px; 
    margin-top: 0; 
    padding-top: 0; 
}

.section {
    padding: 0, 32px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    display: block;
    unicode-bidi: isolate;
    justify-content: center;
    flex-direction: column;
}


.container {
    padding: 96px 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
    color:#243e63;
    unicode-bidi: isolate;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
div {
    display: block;
    unicode-bidi: isolate;
}

#pricing .row {
    display: flex;
    flex-direction: column;
}


div {
    unicode-bidi: isolate;
}


.section__tag {
    font-size: 16px;
    color: #641564ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}
div {
    display: block;
    unicode-bidi: isolate;
}


.section__title {
    font-size: 48px;
    font-weight:900;
    color:rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start:0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.purple {
    color:#641564ff;
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}


#pricing.section__para {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 576px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}


.plan1 {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(1) .plan__stripe {
    color:#f7fafc;
    background-color: (115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(1) .plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(1) .plan__name {
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(1) .plan__price {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(1) .plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}



.plan:nth-child(1) .plan__middle { 
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(1) .plan__target {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(1) .plan__feature{
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}
p {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.plan:nth-child(1) .plan__bottom {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}


.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    max-width: none;
    padding: 0.75rem 2rem;
    font-weight: 700;
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#button1 {
    cursor: pointer;
    border: none;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    appearance: auto;
    text-rendering: auto;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
}



.plan:nth-child(2){
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}
.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
div {
    unicode-bidi: isolate;
}


.plan:nth-child(2) .plan__strip{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}


.plan:nth-child(2) .plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(2) .plan__name {
    color: #f7fafc;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(2) .plan__price {
    color: #f7fafc;
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(2) .plan__duration {
    color: #f7fafc;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
div {
    display: block;
    unicode-bidi: isolate;
}


.plan:nth-child(2) .plan__middle{
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

div {
    unicode-bidi: isolate;
}


.plan:nth-child(2) .plan__target {
   color: #f7fafc;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0.025em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.plan:nth-child(2) .plan__bottom{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
    max-width: none;
    padding: 0.75rem 2rem;
    font-weight: 700;
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#button2 {
    cursor: pointer;
    border: none;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    appearance: auto;
    text-rendering: auto;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
}



.plan3 {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__stripe {
    color:#f7fafc;
    background-color: (115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__name {
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__price {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 2rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__target {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__feature{
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}
p {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.plan:nth-child(3) .plan__bottom {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}
div {
    display: block;
    unicode-bidi: isolate;
}


.plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    max-width: none;
    padding: 0.75rem 2rem;
    font-weight: 700;
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#button3 {
    cursor: pointer;
    border: none;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    appearance: auto;
    text-rendering: auto;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
}


















/* 

TESTIMONIALS ↓

*/


section {
    padding: 0 32px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

section {
    display: block;
    unicode-bidi: isolate;
}


#testimonials .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.container {
    padding: 96px 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}


#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}


.testimonials__img {
        width: 40%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}


.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}


#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}



.purple {
    color: #6415ff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.testimonial {
    margin-top: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}



/* 

START / CALL TO ACTION ↓

*/



section {
    padding: 0 32px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.container {
    padding: 96px 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}


#start .row {
    position: relative;
    overflow: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}


.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(5rem, -16rem);
    color: rgb(80 17 204);
    opacity: 0.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}


.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}


.start__buttons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

div {
    unicode-bidi: isolate;

}


.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms ease;
}
.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    margin: 1px;
    z-index: 2;
}


.btn {
    background-color: #6415ff;
    border:none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


button{
    cursor: pointer;
    border: none;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
      box-sizing: border-box;
      font-family: "Inter" , sans-serif;
      appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal; 
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow:none;
    display:inline-block;
    text-align: center;
    padding-block:1px;
    padding-inline: 6px; 
}



.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}
.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

button{
    cursor: pointer;
    border: none;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
      box-sizing: border-box;
      font-family: "Inter" , sans-serif;
      appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal; 
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow:none;
    display:inline-block;
    text-align: center;
    padding-block:1px;
    padding-inline: 6px; 
}


main {
    margin-bottom: 96px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

main {
    display: block;
    unicode-bidi: isolate;
}



/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
    display: block;
    unicode-bidi: isolate;
}



.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}


.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}


.footer__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}


.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}


.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.footer__column--link:nth-child(2) {
    margin-top: 24px;
}
.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

a {
    display: inline;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.footer {
    display: flex; 
    justify-content: space-between; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}

.footer-links a {
    flex: 1; 
    display: inline-block; 
    width: 100%;
    text-align: center;
    padding: 10px;
}


.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}



.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}



.footer__logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}



.footer__logo--img {
    height: 32px;
    width: 32px;
}
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
    overflow-clip-margin: content-box;
    overflow: clip;
}


.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



h5 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



div {
    display: block;
    unicode-bidi: isolate;
}


.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

div {
    unicode-bidi: isolate;
}





/* 

MOBILE RESPONSIVENESS ↓

*/




@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}


@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}


@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}


@media(max-width: 640px){
    .container {
        padding: 80px 0;
}
    
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}